@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

a {
  @apply text-blue-600 hover:text-blue-700;
}

input,
textarea,
select,
button {
  @apply outline-none;
}
